body {
    background-color: #f0efec;
}

.wrap {
    width: 900px;
    margin: 40px auto;
}

.header {
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
}

img {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    background-color: white;
}

span {
    color: black;
}