body {
    background-color: #f0efec;
}

.header {
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
}

img {
    width: 100%;
}

.card {
    background-color: white;
}

span {
    color: black;
}